@import 'bootstrap/scss/bootstrap';

.title{
    font-family: sans-serif;
    font-size: large;
}

body {
    background-color: #f0d8a9ff;
}

.menu {
    background-color: #dec189ff;
}

nav a{
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    border: 1px solid #B49252;
}

nav a.active{
    background-color: #B49252; 
}

nav a:hover{
    background-color: lightgray; 

}

.chat{
    background-color: #dec189ff;
    border: 1px solid #B49252;
}

.border-brown{
    border: 1px solid #B49252;
}

.sidebar{
    background-color: #B49252;
}
#imageContainer {
    position: relative;
    width: 800px; 
    height: auto;
    cursor: crosshair;
}

#imageContainer image {
    width: 100%;
    height: auto;
    display: block;
}
#imageContainer img {
    width: 100%;
    height: auto;
    display: block;
}

.rotate-image {
    transform: rotate(-90deg);
  }

.pioche{
    position: relative;
    z-index: 1; 
    margin-top: -3vh;
    margin-bottom: -7vh;
    margin-left: 7vh;
}

.main{
    position: relative;
    z-index: 2; 
    margin-right: -7vh;
}


